:root {
  --bg-color: #8fbcff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: min(90%, 35rem);
  margin: 0 auto;
  gap: 0.25rem;
}

.game-board button {
  aspect-ratio: 1;
  border: 0;
  outline: 0;
  cursor: pointer;
  background-color: var(--bg-color);
  transition: all 0.3s ease;
  transform: none;
}

.game-board button.flip {
  transform: rotateY(180deg);
  perspective: 1000px;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.arrow {
  aspect-ratio: 1;
  background: url(assets/arrow.svg) no-repeat center;
  background-size: 80%;
}

.diamond {
  aspect-ratio: 1;
  background: url(assets/diamond.svg) no-repeat center;
  background-size: contain;
}

.left {
  transform: rotate(180deg);
}

.right {
  transform: rotate(0deg);
}

.up {
  transform: rotate(270deg);
}

.down {
  transform: rotate(90deg);
}
